In [22]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import text
from sqlalchemy.orm import Session

In [23]:
engine = create_engine('sqlite+pysqlite:///:memory:', echo=True, future=True)

In [24]:
with engine.connect() as conn:
        result = conn.execute(text("select 'hello world'"))
        print(result.all())

2022-09-19 18:23:50,036 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-09-19 18:23:50,036 INFO sqlalchemy.engine.Engine select 'hello world'
2022-09-19 18:23:50,052 INFO sqlalchemy.engine.Engine [generated in 0.00093s] ()
[('hello world',)]
2022-09-19 18:23:50,052 INFO sqlalchemy.engine.Engine ROLLBACK

In [30]:
# Committing transactions as you go...
with engine.connect() as conn:
    conn.execute(text("drop table some_table"))
    conn.execute(text("CREATE table some_table (x int, y int)"))
    conn.execute(
        text("insert into some_table (x, y) values (:x, :y)"),
        [{"x": 1, "y": 1}, {"x": 2, "y": 4}]
    )
    conn.commit()

2022-09-19 18:25:51,035 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-09-19 18:25:51,035 INFO sqlalchemy.engine.Engine drop table some_table
2022-09-19 18:25:51,035 INFO sqlalchemy.engine.Engine [generated in 0.00126s] ()
2022-09-19 18:25:51,035 INFO sqlalchemy.engine.Engine CREATE table some_table (x int, y int)
2022-09-19 18:25:51,035 INFO sqlalchemy.engine.Engine [cached since 121s ago] ()
2022-09-19 18:25:51,035 INFO sqlalchemy.engine.Engine insert into some_table (x, y) values (?, ?)
2022-09-19 18:25:51,035 INFO sqlalchemy.engine.Engine [cached since 121s ago] ((1, 1), (2, 4))
2022-09-19 18:25:51,035 INFO sqlalchemy.engine.Engine COMMIT

In [31]:
# ORM session

stmt = text("SELECT x, y FROM some_table WHERE y > :y ORDER BY x, y")
with Session(engine) as session:
    result = session.execute(stmt, {"y": 6})
    for row in result:
        print(f"x: {row.x} y: {row.y}")

2022-09-19 18:25:54,575 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-09-19 18:25:54,575 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table WHERE y > ? ORDER BY x, y
2022-09-19 18:25:54,575 INFO sqlalchemy.engine.Engine [cached since 32.74s ago] (6,)
2022-09-19 18:25:54,575 INFO sqlalchemy.engine.Engine ROLLBACK

In [36]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import text
from sqlalchemy.orm import Session
import pandas as pd

In [37]:
engine = create_engine('sqlite:///C://Users/AZ/Github/~Student_Resources/Module 9/01-Evr_BasicSQL_Connection/Resources/Census_Data.sqlite')

In [39]:
Base = automap.base()
Base.classes.keys()

NameError: name 'automap' is not defined